/* --- BASE COLORS --- */
/* --- RELATED COLORS --- */
/* --- FONT SIZE --- */
/* --- PAGE LAYOUT --- */
@font-face {
  font-family: "Brandon black";
  src: url(../fonts/brandon-black.otf); }

@font-face {
  font-family: "Notosans";
  src: url(../fonts/notosans-regular.ttf); }

@font-face {
  font-family: "Notosans italic";
  src: url(../fonts/notosans-italic.ttf); }

@font-face {
  font-family: "Notosans bold italic";
  src: url(../fonts/notosans-bold-italic.ttf); }

@font-face {
  font-family: "Montserrat bold";
  src: url(../fonts/montserrat-bold.otf); }

@font-face {
  font-family: "Montserrat semi bold";
  src: url(../fonts/montserrat-semi-bold.otf); }

html, body, p, button, h1, h2, h3, h4, h5, h6, div, input {
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  min-width: 640px; }

body {
  background-color: #121212;
  color: #fff;
  font-size: 62.5%;
  line-height: 1em; }

.grid {
  box-sizing: border-box;
  width: 100%;
  max-width: 1170px; }

.grid img {
  max-width: 100%;
  display: block; }

.row:after {
  content: "";
  display: table;
  clear: both; }

[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 8.33333%; }

.col-12 {
  width: 100%; }

.col-11 {
  width: 91.66667%; }

.col-10 {
  width: 83.33333%; }

.col-9 {
  width: 75%; }

.col-8 {
  width: 66.66667%; }

.col-7 {
  width: 58.33333%; }

.col-6 {
  width: 50%; }

.col-5 {
  width: 41.66667%; }

.col-4 {
  width: 33.33333%; }

.col-3 {
  width: 25%; }

.col-2 {
  width: 16.66667%; }

.col-1 {
  width: 8.33333%; }

.col-5-5 {
  width: 20%; }

.f-r {
  float: right; }

.f-l {
  float: left; }

.m-b-100 {
  margin-bottom: 100px; }

.m-b-40 {
  margin-bottom: 40px; }

.page-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  overflow: hidden;
  padding: 100px 0; }

.page-header {
  min-height: 1080px;
  background: url(../img/content/slide-1.jpg) no-repeat center top; }

.page-header-top {
  margin-top: -60px; }
  .page-header-top:after {
    content: "";
    display: table;
    clear: both; }

.clients {
  background: linear-gradient(to right, #f3c500 0%, #ff5601 100%); }

.skills, .feedback {
  background-color: #000; }

.page-footer {
  background: linear-gradient(to right, #f3c500 0%, #ff5601 100%); }

/* --- logo --- */
.page-header__logo {
  position: relative;
  box-sizing: border-box;
  width: 90px;
  height: 90px;
  border: 2px solid transparent;
  border-image: linear-gradient(to bottom right, #f3c500 0%, #ff5601 100%);
  border-image-slice: 1; }
  .page-header__logo:before, .page-header__logo:after {
    position: absolute;
    width: 100%;
    text-align: center;
    font: 3.2em/0.75em "Brandon black", sans-serif;
    text-transform: uppercase;
    color: #121212; }
  .page-header__logo:before {
    margin-top: 18px;
    content: "sar"; }
  .page-header__logo:after {
    margin-bottom: 18px;
    bottom: 0;
    transform: rotate(180deg);
    content: "bat"; }
  .page-header__logo a {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%; }
  .page-header__logo h1 {
    display: none; }

/* --- slider headers --- */
.page-header-hgroup {
  margin-top: 270px;
  text-align: center;
  color: #121212; }
  .page-header-hgroup__title {
    font: 10em/0.75em 'Brandon black', sans-serif;
    text-transform: uppercase; }
  .page-header-hgroup__slogan {
    margin-top: 10px;
    text-transform: capitalize;
    font: 3.4em 'Notosans italic', sans-serif; }
  .page-header-hgroup__caption {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 20px;
    font: 1.8em/2.6em 'Notosans italic', sans-serif;
    border-top: 2px solid #121212; }

/* --- section heading --- */
.section-heading {
  margin-bottom: 60px; }
  .section-heading__header {
    color: #fff;
    font: 3.6em/1em 'Montserrat bold', sans-serif;
    text-transform: capitalize; }

/* --- service card --- */
.service {
  position: relative;
  padding-top: 9em;
  padding-right: 1em; }
  .service:before {
    position: absolute;
    content: "";
    width: 50px;
    height: 60px;
    border-bottom: 2px solid #757575;
    top: 0; }
  .service__heading {
    text-transform: capitalize;
    color: #fff;
    font: 2.6em 'Montserrat bold', sans-serif;
    margin-bottom: 20px; }
  .service__text {
    color: #757575;
    font: 1.4em/1.85em 'Notosans', sans-serif; }
  .service--web-design:before {
    background: url(../img/design/i-service-folder.png) no-repeat left top; }
  .service--web-development:before {
    background: url(../img/design/i-service-settings.png) no-repeat left top; }
  .service--branding:before {
    background: url(../img/design/i-service-pencil.png) no-repeat left top; }
  .service--logo-design:before {
    background: url(../img/design/i-service-diamond.png) no-repeat left top; }
  .service--graphic-design:before {
    background: url(../img/design/i-service-headset.png) no-repeat left top; }
  .service--uiux-design:before {
    background: url(../img/design/i-service-truck.png) no-repeat left top; }
  .service--mini-site:before {
    background: url(../img/design/i-service-wrench.png) no-repeat left top; }
  .service--banner-ad:before {
    background: url(../img/design/i-service-wallet.png) no-repeat left top; }
  .service--seo:before {
    background: url(../img/design/i-service-cup.png) no-repeat left top; }

/* --- work samples --- */
.sample {
  box-sizing: border-box;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent; }
  .sample a {
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    display: block; }
    .sample a span {
      box-sizing: border-box;
      display: block;
      border: 1px solid red; }
    .sample a img {
      min-width: 100%;
      max-width: 100%;
      display: block;
      -webkit-filter: grayscale(100%); }
      .sample a img:hover {
        -webkit-filter: none; }
        .sample a img:hover:after {
          display: block; }
  .sample--last {
    border-right: none; }

/* --- process step --- */
.step__num {
  font: 7.2em/.65em 'Montserrat bold', sans-serif;
  margin-bottom: .69em;
  position: relative; }
  .step__num:after {
    position: absolute;
    content: "";
    width: 55%;
    height: 2px;
    background: linear-gradient(to right, #f3c500 0%, #ff5601 100%);
    left: 0;
    top: 1em; }

.step__caption {
  vertical-align: top;
  margin-left: .25em;
  color: #757575;
  font: .36em/.85em 'Notosans italic', sans-serif; }

.step__text {
  color: #757575;
  font: 1.4em/1.85em 'Notosans', sans-serif;
  padding-right: 20px; }

.step__heading {
  margin-bottom: .8em;
  display: inline-block;
  text-transform: capitalize;
  font: 2.6em 'Montserrat bold', sans-serif; }

/* --- plan ---*/
.plan {
  border: 2px solid #757575;
  padding: 3em;
  margin-right: 3em; }
  .plan strong {
    color: #fff;
    font-weight: bold;
    font-style: italic; }
  .plan__name {
    font: 2.6em 'Montserrat bold', sans-serif;
    text-transform: capitalize;
    margin-bottom: 1em; }
  .plan__price {
    font: 7.2em/.75em 'Montserrat bold', sans-serif;
    text-align: right;
    margin-bottom: .5em; }
    .plan__price small {
      margin-right: .05em;
      vertical-align: top;
      color: #757575;
      font: .4em/1.2em 'Notosans italic', sans-serif; }
  .plan__details {
    padding: 2em 0;
    color: #757575;
    font: 1.4em 'Notosans', sans-serif;
    text-transform: capitalize;
    line-height: 3em;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, #f3c500 0%, #ff5601 100%);
    border-image-slice: 1;
    border-left: 0;
    border-right: 0;
    margin-bottom: 1.5em; }

/* --- feedback comments --- */
.feedback-slider {
  position: relative; }

.feedback-comment:after {
  content: "";
  display: table;
  clear: both; }

.feedback-comment__avatar {
  width: 100px;
  height: 100px;
  padding-bottom: 20px;
  border: 2px solid transparent;
  border-image: linear-gradient(to bottom right, #f3c500 0%, #ff5601 100%);
  border-image-slice: 1;
  border-top: 0;
  border-left: 0;
  border-right: 0; }
  .feedback-comment__avatar:after {
    position: relative;
    top: -125px;
    left: -2px;
    content: '\201D';
    font: 7.2em 'Notosans italic', sans-serif; }
  .feedback-comment__avatar img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%; }

.feedback-comment__heading {
  font: 2.6em 'Montserrat bold', sans-serif;
  margin-bottom: .5em; }

.feedback-comment__text {
  padding: 0;
  margin: 0;
  padding-right: 5%;
  font: 1.4em/1.85em 'Notosans italic', sans-serif;
  margin-bottom: .5em; }

.feedback-comment__author {
  font: 1.4em/1.85em 'Notosans bold italic', sans-serif; }

.feedback-comment-details {
  overflow: hidden;
  padding-left: 5%;
  padding-top: 10px; }

/* --- blog post --- */
.post {
  font-size: 0; }
  .post:after {
    content: "";
    display: table;
    clear: both; }
  .post__thumb {
    box-sizing: border-box;
    width: 45%;
    display: inline-block;
    vertical-align: bottom; }
    .post__thumb img {
      width: 100%;
      display: block; }
  .post-details {
    box-sizing: border-box;
    padding-left: 5%;
    width: 55%;
    display: inline-block;
    vertical-align: bottom; }
  .post__date {
    overflow: hidden; }
    .post__date h2 {
      font: 4.5rem/.62em 'Montserrat bold', sans-serif;
      display: inline-block;
      border: 2px solid transparent;
      border-image: linear-gradient(to bottom right, #f3c500 0%, #ff5601 100%);
      border-image-slice: 1;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      padding-right: 8px;
      padding-bottom: 20px;
      margin-bottom: 30px; }
    .post__date small {
      font: 1.625rem/.8em 'Notosans italic', sans-serif;
      color: #757575;
      vertical-align: top; }
  .post__heading {
    overflow: hidden; }
    .post__heading h3 {
      font: 1.625rem 'Montserrat bold', sans-serif;
      padding-right: 10px;
      margin-bottom: 30px; }

/* --- contact us elements --- */
.contactus-form {
  margin-left: 5%; }
  .contactus-form:after {
    content: "";
    display: table;
    clear: both; }
  .contactus-form input::-webkit-input-placeholder {
    color: #757575;
    text-transform: capitalize;
    font: 14px/1em 'Notosans italic', sans-serif; }
  .contactus-form input:nth-last-child(2) {
    margin-bottom: 40px; }
  .contactus-form__input {
    color: #fff;
    background-color: #121212;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    border-bottom: 2px solid #757575; }

.contactus__header {
  font: 2.6em 'Montserrat bold', sans-serif;
  margin-bottom: 20px; }

.contactus__text {
  font: 1.4em/1.85em 'Notosans', sans-serif;
  padding-right: 20px;
  color: #757575; }

/* --- footer info --- */
.page-footer-info {
  height: 100px;
  font: 1.4em/100px 'Notosans', sans-serif;
  text-align: center; }
  .page-footer-info em {
    font-family: 'Notosans italic', sans-serif; }

.link-order {
  display: block;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font: 1.4em/.85em 'Montserrat bold', sans-serif;
  letter-spacing: .05em;
  cursor: pointer; }
  .link-order:hover {
    color: #757575; }

.link-social {
  display: inline-block;
  box-sizing: border-box;
  width: 25%;
  height: 80px;
  font-size: 0;
  border: 2px solid #757575;
  border-right: none;
  background-repeat: no-repeat;
  background-position: center; }
  .link-social:hover {
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #f3c500 0%, #ff5601 100%);
    border-image-slice: 1; }
  .link-social:first-child {
    border-left: none; }
  .link-social--fb {
    background-image: url(../img/design/i-social-facebook.png); }
    .link-social--fb:hover {
      background-image: url(../img/design/i-social-facebook.png), linear-gradient(to right, #f3c500 0%, #ff5601 100%); }
  .link-social--twitter {
    background-image: url(../img/design/i-social-twitter.png); }
    .link-social--twitter:hover {
      background-image: url(../img/design/i-social-twitter.png), linear-gradient(to right, #f3c500 0%, #ff5601 100%); }
  .link-social--gplus {
    background-image: url(../img/design/i-social-gplus.png); }
    .link-social--gplus:hover {
      background-image: url(../img/design/i-social-gplus.png), linear-gradient(to right, #f3c500 0%, #ff5601 100%); }
  .link-social--behance {
    background-image: url(../img/design/i-social-behance.png); }
    .link-social--behance:hover {
      background-image: url(../img/design/i-social-behance.png), linear-gradient(to right, #f3c500 0%, #ff5601 100%); }

.link-blog {
  color: #fff;
  text-decoration: none;
  font: .875rem/.2em 'Montserrat bold', sans-serif;
  letter-spacing: .05em;
  text-transform: uppercase; }
  .link-blog:hover {
    color: #757575; }

.btn__header-menu {
  cursor: pointer;
  display: block;
  border: none;
  background: none;
  outline: none;
  box-sizing: border-box;
  border: 2px solid #121212;
  width: 50px;
  height: 50px;
  font-size: 0;
  background: url(../img/design/i-btn-burger.png) no-repeat center center; }

.btn__header-scroll {
  cursor: pointer;
  display: block;
  border: none;
  background: none;
  outline: none;
  box-sizing: border-box;
  display: inline-block;
  width: 30px;
  height: 50px;
  font-size: 0;
  background: url(../img/design/i-slider-mouse.png) no-repeat center center; }

.btn__contact-send {
  cursor: pointer;
  display: block;
  border: none;
  background: none;
  outline: none;
  box-sizing: border-box;
  width: 170px;
  height: 50px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font: 14px/50px 'Montserrat bold', sans-serif;
  background-image: linear-gradient(to bottom right, #f3c500 0%, #ff5601 100%); }

.btn-feedback-slider__left {
  cursor: pointer;
  display: block;
  border: none;
  background: none;
  outline: none;
  box-sizing: border-box;
  width: 15px;
  height: 26px;
  position: absolute;
  top: 41%;
  left: 2%;
  background: url(../img/design/i-feedback-slider-left.png) no-repeat center center; }

.btn-feedback-slider__right {
  cursor: pointer;
  display: block;
  border: none;
  background: none;
  outline: none;
  box-sizing: border-box;
  width: 15px;
  height: 26px;
  top: 41%;
  right: 2%;
  position: absolute;
  background: url(../img/design/i-feedback-slider-right.png) no-repeat center center; }
