section.blog
  .page-wrapper
    .section-heading
      h1.section-heading__header latest posts
    .grid
      .row
        .col-6
          +post('05', 'Feb', 1, 'This is blog heading, and it is really long.')
        .col-6
          +post('29', 'Dec', 2, 'This is blog heading, and it is really long.')
