section.clients
  .page-wrapper
    .section-heading
      h1.section-heading__header our clients
    .grid
      .row.m-b-100
        .col-3
          img(src="img/content/l-clients-4.png")
        .col-3
          img(src="img/content/l-clients-1.png")
        .col-3
          img(src="img/content/l-clients-6.png")
        .col-3
          img(src="img/content/l-clients-5.png")
      .row
        .col-3
          img(src="img/content/l-clients-1.png")
        .col-3
          img(src="img/content/l-clients-2.png")
        .col-3
          img(src="img/content/l-clients-3.png")
        .col-3
          img(src="img/content/l-clients-4.png")
            
      
