section.contactus
  .page-wrapper
    .grid
      .row
        .col-6
          h2.contactus__header Sarbat is colorful!
          p.contactus__text.m-b-40 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .grid
            .row
              .col-6
                h2.contactus__header Reach Us
                p.contactus__text 
                  | 12th Kuthampully Street & PO.,
                  br
                  | Ernakulam Dt., Kuthampully,
                  br
                  | Kerala. IN. PIN 689 597
              .col-6
                h2.contactus__header Mail Us
                p.contactus__text 
                  | VishnuSathyan@outlook.com
                  br
                  | www.vthed.com
        .col-6
          form.contactus-form
            input.contactus-form__input(type='name' placeholder='name')
            input.contactus-form__input(type='email' placeholder='email')
            input.contactus-form__input(type='text' placeholder='subject')
            input.contactus-form__input(type='text' placeholder='message')
            input(type='submit' class='btn__contact-send f-r' value='contact now')
