section.feedback
  .feedback-slider
    .page-wrapper
      .grid 
        .row
          .col-sm-6
            +comment('emma', 'Sarbat is Awesome', 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in pariatur. Excepteur sint occaecat.')
          .col-sm-6
            +comment('saoirse', 'Sarbat is Colorful', 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in pariatur. Excepteur sint occaecat.')
