header.page-header#slider
  .page-wrapper
    .page-header-top
      .page-header-menu.f-r
        button.btn__header-menu navigation
      .page-header__logo
        a(href="#")
          h1 sarbat
    .page-header-hgroup
      h2.page-header-hgroup__title we&rsquo;re sarbat
      h3.page-header-hgroup__slogan a creative design agency
      h4.page-header-hgroup__caption PSD template from VishnuSathyan
      br
      button.btn__header-scroll scroll
