section.portfolio
    .row.m-b-140
      .col-5-5
        +work('The Beauty in Red', '1')
        +work('The Beauty in Blue', '6')
      .col-5-5
        +work('The Beauty in Green', '2')
        +work('The Beauty in Orange', '7')
      .col-5-5
        +work('The Beauty in Black', '3')
        +work('The Beauty in Purple', '8')
      .col-5-5
        +work('The Beauty in Pink', '4')
        +work('The Beauty in Cyan', '9')
      .col-5-5.col-last
        +work('The Beauty in Silver', '5')
        +work('The Beauty in White', '10')
    button.btn__view-more.centered view more
    
