section.services
  .page-wrapper
    .section-heading
      h1.section-heading__header how we work
    .grid
      .row
        .col-md-4
          +step(1, 'tell us about it', 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat epteur sint occaecat.')
        .col-md-4
          +step(2, 'leave comments', 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat epteur sint occaecat.')
        .col-md-4
          +step(3, 'enjoy using products', 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat epteur sint occaecat.')
