section.services
  .page-wrapper
    .section-heading
      h1.section-heading__header our services
    .grid
      .row.m-b-100
        .col-4
          +service('web-design', 'web design', 'Eiusmod tempor incididunt ut labore et dolore magna lorem ipsum dolor sit amet, consectetur.')
        .col-4
          +service('web-development', 'web development', 'Eiusmod tempor incididunt ut labore et dolore magna lorem ipsum dolor sit amet, consectetur.')
        .col-4
          +service('branding', 'branding', 'Eiusmod tempor incididunt ut labore et dolore magna lorem ipsum dolor sit amet, consectetur.')
      .row.m-b-100
        .col-4
          +service('logo-design', 'logo designs', 'Eiusmod tempor incididunt ut labore et dolore magna lorem ipsum dolor sit amet, consectetur.')
        .col-4
          +service('graphic-design', 'graphic design', 'Eiusmod tempor incididunt ut labore et dolore magna lorem ipsum dolor sit amet, consectetur.')
        .col-4
          +service('uiux-design', 'UI / UX design', 'Eiusmod tempor incididunt ut labore et dolore magna lorem ipsum dolor sit amet, consectetur.')
      .row
        .col-4
          +service('mini-site', 'mini sites', 'Eiusmod tempor incididunt ut labore et dolore magna lorem ipsum dolor sit amet, consectetur.')
        .col-4
          +service('banner-ad', 'banner ads', 'Eiusmod tempor incididunt ut labore et dolore magna lorem ipsum dolor sit amet, consectetur.')
        .col-4
          +service('seo', 'SEO', 'Eiusmod tempor incididunt ut labore et dolore magna lorem ipsum dolor sit amet, consectetur.')
