section.skills(id="anchor-animate-skills" data-appear-top-offset="-340")
  .page-wrapper
    .section-heading
      h1.section-heading__header our skills
    .grid
      .row
        .col-md-6.col-sm-3
          +skill('photoshop', 70)
        .col-md-6.col-sm-3
          +skill('fireworks', 90)
        .col-md-6.col-sm-3
          +skill('HTML', 60)
        .col-md-6.col-sm-3
          +skill('WordPress', 40)
