include _mixins
doctype
html
  head
    include includes/_head
  body
    include includes/_header
    include includes/_services
    include includes/_portfolio
    include includes/_process
    include includes/_clients
    include includes/_pricing
    include includes/_skills
    include includes/_feedback
    include includes/_blog
    include includes/_social
    include includes/_contactus
    include includes/_footer
  script(src="js/jquery.min.js")
  script(src="js/appear.js")
  script(src="js/circle-progress.js")
  script(src="js/skills.js")
