.btn__header-menu
  +btn
  border: 2px solid $black
  +size(50px)
  font-size: 0
  background: url(../img/design/i-btn-burger.png) no-repeat center center

.btn__header-scroll
  +btn
  display: inline-block
  +size(30px, 50px)
  font-size: 0
  background: url(../img/design/i-slider-mouse.png) no-repeat center center

.btn__contact-send
  +btn
  +size(170px, 50px)
  +text-base-btn
  +base-gradient
  color: $base-text-color

.btn-feedback-slider__left
  +btn
  +size(15px, 26px)
  position: absolute
  top: 41%
  left: 2%
  background: url(../img/design/i-feedback-slider-left.png) no-repeat center center

.btn-feedback-slider__right
  +btn
  +size(15px, 26px)
  top: 41%
  right: 2%
  position: absolute
  background: url(../img/design/i-feedback-slider-right.png) no-repeat center center

.btn__view-more
  +btn
  +size(50%, 50px)
  +base-gradient
  +text-base-btn
  color: $base-text-color
