/* --- logo --- */
.page-header__logo
  position: relative
  box-sizing: border-box
  +size(90px)
  +border-gradient(to bottom right)
  &:before, &:after
    position: absolute
    width: 100%
    text-align: center
    font: 3.2em/0.75em "Brandon black", sans-serif
    text-transform: uppercase
    color: $alt-text-color
  &:before
    margin-top: 18px
    content: "sar"
  &:after
    margin-bottom: 18px
    bottom: 0
    transform: rotate(180deg)
    content: "bat"
  a
    position: absolute
    z-index: 1
    +size(100%)
  h1
    display: none

/* --- slider headers --- */
.page-header-hgroup
  margin-top: 270px
  text-align: center
  color: $alt-text-color
  &__title
    font: 10em/.75em 'Brandon black', sans-serif
    text-transform: uppercase
  &__slogan
    margin-top: 10px
    text-transform: capitalize
    font: 3.4em 'Notosans italic', sans-serif
  &__caption
    display: inline-block
    margin-top: 40px
    margin-bottom: 20px
    font: 1.8em/2.6em 'Notosans italic', sans-serif
    border-top: 2px solid $black
/* --- section heading --- */
.section-heading
  margin-bottom: 60px
  &__header
    color: $heading-text-color
    font: 3.6em/1em 'Montserrat bold', sans-serif
    text-transform: capitalize
/* --- service card --- */
.service
  position: relative
  padding-top: 9em
  padding-right: 1em
  &:before
    position: absolute
    content: ""
    +size(50px, 60px)
    border-bottom: 2px solid $decorate-text-color
    top: 0
  &__heading
    text-transform: capitalize
    color: $base-text-color
    font: 2.6em 'Montserrat bold', sans-serif
    margin-bottom: 20px
  &__text
    color: $decorate-text-color
    font: 1.4em/1.85em 'Notosans', sans-serif
  &--web-design:before
    background: url(../img/design/i-service-folder.png) no-repeat left top
  &--web-development:before
    background: url(../img/design/i-service-settings.png) no-repeat left top
  &--branding:before
    background: url(../img/design/i-service-pencil.png) no-repeat left top
  &--logo-design:before
    background: url(../img/design/i-service-diamond.png) no-repeat left top
  &--graphic-design:before
    background: url(../img/design/i-service-headset.png) no-repeat left top
  &--uiux-design:before
    background: url(../img/design/i-service-truck.png) no-repeat left top
  &--mini-site:before
    background: url(../img/design/i-service-wrench.png) no-repeat left top
  &--banner-ad:before
    background: url(../img/design/i-service-wallet.png) no-repeat left top
  &--seo:before
    background: url(../img/design/i-service-cup.png) no-repeat left top
/* --- work samples --- */
.sample
  box-sizing: border-box
  border-bottom: 2px solid transparent
  position: relative
  &--last
    border-right: none
  a
    text-decoration: none
    display: block
    &:hover
      img
        filter: none
        -webkit-filter: none
      .sample__caption
        display: block
    img
      width: 100%
      max-width: 100%
      display: block
      filter: grayscale(100%)
      -webkit-filter: grayscale(100%)
    .sample__caption
      display: none
      position: absolute
      margin-top: -110px
      z-index: 1
      width: 100%
      box-sizing: border-box
      padding: 10px
      +base-gradient
      color: $base-text-color
      text-align: center
      span
        font: 2.6em/2em 'Montserrat bold', sans-serif
      hr
        width: 170px
        height: 2px
        border: none
        background: $base-text-color
      small
        font: 1.4em/2.8em 'Montserrat bold', sans-serif
        text-transform: uppercase

/* --- process step --- */
.step
  &__num
    font: 7.2em/.65em 'Montserrat bold', sans-serif
    margin-bottom: .69em
    position: relative
    &:after
      position: absolute
      content: ""
      +size(55%, 2px)
      +base-gradient
      left: 0
      top: 1em
  &__caption
    vertical-align: top
    margin-left: .25em
    color: $decorate-text-color
    font: .36em/.85em 'Notosans italic', sans-serif
  &__text
    color: $decorate-text-color
    font: 1.4em/1.85em 'Notosans', sans-serif
    padding-right: 20px
  &__heading
    margin-bottom: .8em
    display: inline-block
    text-transform: capitalize
    font: 2.6em 'Montserrat bold', sans-serif

/* --- plan ---*/
.plan
  border: 2px solid $decorate-text-color
  padding: 3em
  margin-right: 3em
  strong
    color: $base-text-color
    font-weight: bold
    font-style: italic
  &__name
    font: 2.6em 'Montserrat bold', sans-serif
    text-transform: capitalize
    margin-bottom: 1em
  &__price
    font: 7.2em/.75em 'Montserrat bold', sans-serif
    text-align: right
    margin-bottom: .5em
    small
      margin-right: .05em
      vertical-align: top
      color: $decorate-text-color
      font: .4em/1em 'Notosans italic', sans-serif
  &__details
    padding: 2em 0
    color: $decorate-text-color
    font: 1.4em 'Notosans', sans-serif
    text-transform: capitalize
    line-height: 3em
    +border-gradient
    border-left: 0
    border-right: 0
    margin-bottom: 1.5em
/* --- skills--- */
.skill
  &__bar
    +size(150px)
    margin-bottom: 30px
    min-height: 150px
    position: relative
    &:before
      position: absolute
      content: ""
      +size(20px)
      border-radius: 50%
      top: 65px
      left: 65px
      background: $base-text-color
  &__details
    padding-right: 10%
    text-align: right
    span
      text-transform: capitalize
      font: 2.6em/3.1em 'Montserrat bold', sans-serif
    strong
      font: 7.2em/.61em 'Montserrat bold', sans-serif
    small
      vertical-align: top
      color: $decorate-text-color
      font: 2.6em/.75em 'Notosans italic', sans-serif


/* --- feedback comments --- */
.feedback-slider
  position: relative
.feedback-comment
  +clearfix
  &__avatar
    +size(100px)
    padding-bottom: 20px
    +border-gradient
    border-top: 0
    border-left: 0
    border-right: 0
    position:relative
    &:after
      position: relative
      top: -125px
      left: -2px
      content: '\201D'
      font: 7.2em 'Notosans italic', sans-serif

    img
      +size(100%)
      display: block
      border-radius: 50%
  &__heading
    font: 2.6em 'Montserrat bold', sans-serif
    margin-bottom: .5em
  &__text
    padding: 0
    margin: 0
    padding-right: 5%
    font: 1.4em/1.85em 'Notosans italic', sans-serif
    margin-bottom: .5em
  &__author
    font: 1.4em/1.85em 'Notosans bold italic', sans-serif
  &-details
    overflow: hidden
    padding-left: 5%
    padding-top: 10px
/* --- blog post --- */
.post
  font-size: 0
  +clearfix
  &__thumb
    box-sizing: border-box
    width: 45%
    display: inline-block
    vertical-align: bottom
    img
      width: 100%
      display: block
  &-details
    box-sizing: border-box
    padding-left: 5%
    width: 55%
    display: inline-block
    vertical-align: bottom
  &__date
    overflow: hidden
    h2
      font: 4.6rem/.74em 'Montserrat bold', sans-serif
      display: inline-block
      +border-gradient
      border-top: 0
      border-left: 0
      border-right: 0
      padding-right: 8px
      padding-bottom: 20px
      margin-bottom: 30px
    small
      font: 1.625rem/.8em 'Notosans italic', sans-serif
      color: $decorate-text-color
      vertical-align: top
  &__heading
    overflow: hidden
    h3
      font: 1.625rem 'Montserrat bold', sans-serif
      padding-right: 10px
      margin-bottom: 30px
/* --- contact us elements --- */
.contactus
  &-form
    margin-left: 5%
    +clearfix
    input::-webkit-input-placeholder
      color: $decorate-text-color
      text-transform: capitalize
      font: 14px/1em 'Notosans italic', sans-serif
    input:nth-last-child(2)
      margin-bottom: 40px
    &__input
      color: $base-text-color
      background-color: $base-bg-color
      box-sizing: border-box
      padding: 0
      width: 100%
      height: 50px
      border: none
      outline: none
      margin-bottom: 10px
      border-bottom: 2px solid $decorate-text-color
  &__header
    font: 2.6em 'Montserrat bold', sans-serif
    margin-bottom: 20px
  &__text
    font: 1.4em/1.85em 'Notosans', sans-serif
    padding-right: 20px
    color: $decorate-text-color
/* --- footer info --- */
.page-footer-info
  height: 100px
  font: 1.4em/100px 'Notosans', sans-serif
  text-align: center
  em
    font-family: 'Notosans italic', sans-serif
