/* --- logo --- */
.page-header__logo
  position: relative
  box-sizing: border-box
  +size(90px)
  border: 2px solid transparent
  border-image: linear-gradient(to bottom right, $yellow 0%, $orange 100%)
  border-image-slice: 1
  &:before, &:after
    position: absolute
    width: 100%
    text-align: center
    font: 3.2em/0.75em "Brandon black", sans-serif
    text-transform: uppercase
    color: $alt-text-color
  &:before
    margin-top: 18px
    content: "sar"
  &:after
    margin-bottom: 18px
    bottom: 0
    transform: rotate(180deg)
    content: "bat"
  a
    position: absolute
    z-index: 1
    width: 100%
    height: 100%
  h1
    display: none

/* --- slider headers --- */
.page-header-hgroup
  margin-top: 270px
  text-align: center
  color: $alt-text-color
  &__title
    font: 10em/0.75em 'Brandon black', sans-serif
    text-transform: uppercase
  &__slogan
    margin-top: 10px
    text-transform: capitalize
    font: 3.4em 'Notosans italic', sans-serif
  &__caption
    display: inline-block
    margin-top: 40px
    margin-bottom: 20px
    font: 1.8em/2.6em 'Notosans italic', sans-serif
    border-top: 2px solid $black
/* --- section heading --- */
.section-heading
  margin-bottom: 60px
  &__header
    color: $heading-text-color
    font: 3.6em/1em 'Montserrat bold', sans-serif
    text-transform: capitalize
/* --- service card --- */
.service
  position: relative
  padding-top: 9em
  padding-right: 1em
  &:before
    position: absolute
    content: ""
    +size(50px, 60px)
    border-bottom: 2px solid $decorate-text-color
    top: 0
  &__heading
    text-transform: capitalize
    color: $base-text-color
    font: 2.6em 'Montserrat bold', sans-serif
    margin-bottom: 20px
  &__text
    color: $decorate-text-color
    font: 1.4em/1.85em 'Notosans', sans-serif
  &--web-design:before
    background: url(../img/design/i-service-folder.png) no-repeat left top
  &--web-development:before
    background: url(../img/design/i-service-settings.png) no-repeat left top
  &--branding:before
    background: url(../img/design/i-service-pencil.png) no-repeat left top
  &--logo-design:before
    background: url(../img/design/i-service-diamond.png) no-repeat left top
  &--graphic-design:before
    background: url(../img/design/i-service-headset.png) no-repeat left top
  &--uiux-design:before
    background: url(../img/design/i-service-truck.png) no-repeat left top
  &--mini-site:before
    background: url(../img/design/i-service-wrench.png) no-repeat left top
  &--banner-ad:before
    background: url(../img/design/i-service-wallet.png) no-repeat left top
  &--seo:before
    background: url(../img/design/i-service-cup.png) no-repeat left top
/* --- process step --- */
.step
  &__num
    text-transform: capitalize
    font: 7.2em/.65em 'Montserrat bold', sans-serif
    margin-bottom: .69em
    position: relative
    &:after
      position: absolute
      content: ""
      width: 55%
      height: 2px
      background: linear-gradient(to right, $yellow 0%, $orange 100%)
      left: 0
      top: 1em
  &__caption
    vertical-align: top
    margin-left: .25em
    color: $decorate-text-color
    font: .36em/.85em 'Notosans italic', sans-serif
  &__text
    color: $decorate-text-color
    font: 1.4em/1.85em 'Notosans', sans-serif
    padding-right: 20px
  &__heading
    margin-bottom: .8em
    display: inline-block
    text-transform: capitalize
    font: 2.6em 'Montserrat bold', sans-serif

/* --- plan ---*/
.plan
  border: 2px solid $decorate-text-color
  padding: 3em
  margin-right: 3em
  strong
    color: $base-text-color
    font-weight: bold
    font-style: italic
  &__name
    font: 2.6em 'Montserrat bold', sans-serif
    text-transform: capitalize
    margin-bottom: 1em
  &__price
    font: 7.2em/.75em 'Montserrat bold', sans-serif
    text-align: right
    margin-bottom: .5em
    small
      margin-right: .05em
      vertical-align: top
      color: $decorate-text-color
      font: .4em/1.2em 'Notosans italic', sans-serif
  &__details
    padding: 2em 0
    color: $decorate-text-color
    font: 1.4em 'Notosans', sans-serif
    text-transform: capitalize
    line-height: 3em
    border: 3px solid transparent
    border-image: linear-gradient(to right, $yellow 0%, $orange 100%)
    border-image-slice: 1
    border-left: 0
    border-right: 0
    margin-bottom: 1.5em
