.page-wrapper
  max-width: $wrapper-max-width
  +h-align-center
  overflow: hidden
  padding: 100px 0
.page-header
  min-height: 1080px
  background: url(../img/content/slide-1.jpg) no-repeat center top
.page-header-top
  margin-top: -60px
  +clearfix
.clients
  background: linear-gradient(to right, $yellow 0%, $orange 100%)
.skills, .feedback
  background-color: $alt-bg-color
.page-footer
  background: linear-gradient(to right, $yellow 0%, $orange 100%)
