.link-order
  display: block
  text-transform: uppercase
  color: $base-text-color
  text-align: center
  font: 1.4em/.85em 'Montserrat bold', sans-serif
  letter-spacing: .05em
  cursor: pointer
  &:hover
    color: $decorate-text-color
